h1 {
    margin-bottom: 5px;
    text-align: center; color: black; font-size: 70px; font-family: Georgia, 'Times New Roman', Times, serif"
}
#tabla {
    border-radius: 20px;
    border-collapse: collapse;
    width: 90%;
    padding: 0%;
    position: absolute;
     top: 210px;
     left: 60px
}
td {
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 5px 0px 0px;
    font-size: 20px;
    background-color: white;
    border-top: 5px solid rgb(242, 242, 242);
}
th {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5px;
    font-size: 30px;
    background-color: white;
}

body {
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: rgb(242, 242, 242);
  }
.escudo {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200px
  }
.volver2 {
    position: fixed;
    top: 40px;
    left: 50px;
    width: 200px
}
.volver {
    position: absolute;
    top: 40px;
    left: 50px;
    width: 200px
}

h2 {
    margin-bottom: 10px;
    text-align: center; color: black; font-size: 40px; font-family: Georgia, 'Times New Roman', Times, serif"
}
.respuesta {
    text-align: center;
    position: relative;
    top: 50px;
    border-radius: 25px;
    background-color: white;
    padding: 10px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
    
}
#nombre, #nombre2, #nombre3, #nombre4 {
    border: 1px solid rgb(222, 222, 222);
    padding: 5px 45px 5px;
    text-align: center;
    font-size: 20px;
}
#botontrivia {
    font-size: 20px;
    border-radius: 25px;
    background-color: black;
    color: white;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    position: relative;
    left: 44%;
}
#botoncheck {
    font-size: 20px;
    border-style: double;
    border-radius: 25px;
    background-color: black;
    color: white;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    position: relative;
    left: 45%;
    top: 60px;
    margin-bottom: 70px;
}
#correcto, #incorrecto, #incorrecto2, #correcto2 {
    display:none;
    position: relative;
    left: 48%;
}
