h1 {
    margin-bottom: 5px;
    text-align: center;
    color: black;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#tabla {
    border-collapse: collapse;
    width: 90%;
    padding: 0%;
    position: absolute;
     top: 210px;
     left: 60px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.36);
}
td {
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 5px 0px 0px;
    font-size: 20px;
    background-color: white;
    border-top: 5px solid rgb(242, 242, 242);
}
th {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5px;
    font-size: 30px;
    background-color: white;
}

body {
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: rgb(242, 242, 242);
  }

.volver2 {
    position: fixed;
    top: 40px;
    left: 50px;
    width: 200px;
}
.volver {
    position: absolute;
    top: 10px;
    left: 50px;
    width: 200px;
}

h2 {
    margin-bottom: 10px;
    text-align: center;
    color: black;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.respuesta {
    text-align: center;
    position: relative;
    top: 50px;
    border-radius: 25px;
    background-color: white;
    padding: 10px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.36);
    
}
#nombre0, #nombre1, #nombre2, #nombre3,
#nombre4, #nombre5, #nombre6, #nombre7,
#nombre8, #nombre9, #nombre10, #nombre11,
#nombre12, #nombre13, #nombre14, #nombre15,
#nombre16, #nombre17, #nombre18, #nombre19 {
    border: 1px solid rgb(222, 222, 222);
    padding: 5px 45px 5px;
    text-align: center;
    font-size: 20px;
    -webkit-appearance: none;
}
#botontrivia {
    font-size: 20px;
    border-radius: 25px;
    background-color: black;
    color: white;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    left: 530px;
    bottom: -10px;
    margin-bottom: 5px;
}
#botoncheck {
    font-size: 30px;
    border-style: double;
    border-radius: 25px;
    background-color: black;
    color: white;
    padding: 30px 70px;
    text-align: center;
    text-decoration: none;
    position: relative;
    left: 42%;
    top: 70px;
    margin-bottom: 70px;
    -webkit-appearance: none;
}
#correcto0, #incorrecto0, #correcto1, #incorrecto1,
#correcto2, #incorrecto2, #correcto3, #incorrecto3,
#correcto4, #incorrecto4, #correcto5, #incorrecto5,
#correcto6, #incorrecto6, #correcto7, #incorrecto7,
#correcto8, #incorrecto8, #correcto9, #incorrecto9,
#correcto10, #incorrecto10, #correcto11, #incorrecto11,
#correcto12, #incorrecto12, #correcto13, #incorrecto13,
#correcto14, #incorrecto14, #correcto15, #incorrecto15,
#correcto16, #incorrecto16, #correcto17, #incorrecto17,
#correcto18, #incorrecto18, #correcto19, #incorrecto19 {
    display:none;
    position: relative;
    top: -38px;
    left: 75%;
}
a:link {
    text-decoration: none;
}
#escudos {
    position: relative;
    margin-left: 65px;
    margin-right: 30px;
    top: 15px;
}
#escudos2 {
    position: relative;
    margin-left: 65px;
    margin-right: 30px;
    top: 40px;
    left: 300px;
}
.mensaje {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
.resultado {
    text-align: center;
    background-color: white;
    margin: auto;
    padding: 70px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.36);
    border-radius: 25px;
    width: 52%;
    height: 40%;
  }
#textor {
    margin-top: -35px;
    padding: 5px;
    text-align: center;
    color: black;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#inicio {
    font-size: 20px;
    border-radius: 25px;
    background-color: black;
    color: white;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    left: 27%;
    top: 415px;
}
#rtas {
    font-size: 20px;
    border-radius: 25px;
    background-color: black;
    color: white;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    left: 42%;
    top: 415px;
    -webkit-appearance: none;
}
#reiniciar {
    font-size: 20px;
    border-radius: 25px;
    background-color: black;
    color: white;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    left: 66%;
    top: 415px;
}
#rta {
    text-align: center;
    color: black;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 150px;
    left: 49%;
}
.escudo {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 200px
  }
@media only screen and (max-width:850px) {
    .respuesta {
    position: relative;
    top: 50px;
    padding: 3px 5px 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
    }
    .volver2 {
    position: absolute;
    top: 10px;
    left: 10px;
    }
    #botoncheck {
    left: 20%;
    margin-bottom: 120px;
    }

    h1 {
    text-align: center;
    margin-left: 15px;
    font-size: 40px;
    position: absolute;
    top: -15px;
    left: 30%;
    
    }
    #tabla {
    width: 85%;
    left: 5px;
    right: 5px;
    margin-top: 150px;
    }
    td {
        font-family: Georgia, Times, 'Times New Roman', serif;
        padding: 5px 0px 0px;
        font-size: 15px;
    }
    th {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        padding: 5px;
        font-size: 15px;
    }
    .volver {
        position: absolute;
        top: 40px;
        left: 10px;
        }
    #titulo {
    font-size: 40px;
    }
    #textor {
        font-size: 40px;
        margin-top: -30;
    }
    #rta {
        top: 100px;
        left: 45%;
    }
    #inicio {
        left: 39%;
        top: 320px;
    }
    #rtas {
    left: 28%;
    top: 400px;
    }
    #reiniciar {
    left: 36%;
    top: 480px;
    }
    .resultado {
    height: 48%;
    }
    .escudo {
    position: absolute;
    top: 40px;
    right: 100px;
      }
    #t {
    width: 115px;
    height: 115px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 20px;
    position: relative;
    left: -20px;
    top: 90px;
    }
    #t2 {
        width: 115px;
        height: 115px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
        position: relative;
        left: -320px;
        top: 100px;
        }
        #t3 {
            width: 115px;
            height: 115px;
            position: relative;
            left: -100px;
            top: -50px;
            }
    #botontrivia {
        position: absolute;
        left: 120px;
        bottom: 10px;
    }
    #ttrivia {
        position: absolute;
        top: 0px;
        left: 10px;
    }
    #boca {
        position: absolute;
        top: 240px;
        left: 150px;
    }
    #river {
        position: absolute;
        top: 240px;
        left: 140px;
    }
    #independiente {
        position: absolute;
        top: 240px;
        left: 45px;
    }
    #racing {
        position: absolute;
        top: 240px;
        left: 125px;
    }
    #velez {
        position: absolute;
        top: 240px;
        left: 140px;
    }
    #sanlorenzo {
        position: absolute;
        top: 240px;
        left: 70px;
    }
    #correcto0, #incorrecto0, #correcto1, #incorrecto1,
#correcto2, #incorrecto2, #correcto3, #incorrecto3,
#correcto4, #incorrecto4, #correcto5, #incorrecto5,
#correcto6, #incorrecto6, #correcto7, #incorrecto7,
#correcto8, #incorrecto8, #correcto9, #incorrecto9,
#correcto10, #incorrecto10, #correcto11, #incorrecto11,
#correcto12, #incorrecto12, #correcto13, #incorrecto13,
#correcto14, #incorrecto14, #correcto15, #incorrecto15,
#correcto16, #incorrecto16, #correcto17, #incorrecto17,
#correcto18, #incorrecto18, #correcto19, #incorrecto19 {
    position: relative;
    top: 0px;
    left: 46%;
}
#nombre0, #nombre1, #nombre2, #nombre3,
#nombre4, #nombre5, #nombre6, #nombre7,
#nombre8, #nombre9, #nombre10, #nombre11,
#nombre12, #nombre13, #nombre14, #nombre15,
#nombre16, #nombre17, #nombre18, #nombre19 {
    border: 1px solid rgb(222, 222, 222);
    padding: 5px 45px 5px;
    text-align: center;
    font-size: 19px;
}
    
}
@media only screen and (max-width:400px) {
    .respuesta {
    position: relative;
    top: 110px;
    padding: 3px 5px 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    }
    .volver2 {
    position: absolute;
    top: 40px;
    left: 10px;
    }
    #botoncheck {
    left: 18%;
    margin-top: 90px;
    margin-bottom: 10px;
    }
    #trivia {
    margin-left: 20px;
    margin-top: 55px;
    }
    #botontrivia {
        position: absolute;
        left: 110px;
        bottom: 5px;
        padding: 15px 20px;
    }
    #t {
        width: 97px;
        height: 97px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-top: 20px;
        position: relative;
        left: -20px;
        top: 100px;
        }
        #t2 {
            width: 97px;
            height: 97px;
            margin-left: 0px;
            margin-right: 0px;
            margin-bottom: 20px;
            position: relative;
            left: -320px;
            top: 100px;
            }
    #tabla {
        width: 85%;
        left: 5px;
        right: 5px;
        margin-top: 80px;
        }
        td {
            font-family: Georgia, Times, 'Times New Roman', serif;
            padding: 5px 0px 0px;
            font-size: 13px;
        }
        th {
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            padding: 5px;
            font-size: 13px;
    }
    #boca {
        position: absolute;
        top: 200px;
        left: 140px;
    }
    #river {
        position: absolute;
        top: 200px;
        left: 130px;
    }
    #independiente {
        position: absolute;
        top: 200px;
        left: 35px;
    }
    #racing {
        position: absolute;
        top: 200px;
        left: 115px;
    }
    #velez {
        position: absolute;
        top: 200px;
        left: 130px;
    }
    #sanlorenzo {
        position: absolute;
        top: 200px;
        left: 60px;
    }
    .escudo {
        position: absolute;
        top: 10px;
        right: 70px;
        }
        #textor {
            font-size: 40px;
            margin-top: 2px;
            position: absolute;
            left: 80px;
            top: 140px;
        }
        #rta {
            top: 100px;
            left: 44%;
        }
        #inicio {
            left: 37%;
            top: 320px;
        }
        #rtas {
        left: 25%;
        top: 395px;
        }
        #reiniciar {
        left: 33%;
        top: 472px;
        }
        .resultado {
        height: 50%;
        }
        #nombre0, #nombre1, #nombre2, #nombre3,
        #nombre4, #nombre5, #nombre6, #nombre7,
        #nombre8, #nombre9, #nombre10, #nombre11,
        #nombre12, #nombre13, #nombre14, #nombre15,
        #nombre16, #nombre17, #nombre18, #nombre19 {
            border: 1px solid rgb(222, 222, 222);
            padding: 5px 45px 5px;
            text-align: center;
            font-size: 19px;
        }
    
}