* {
    box-sizing: border-box;
    }
#titulo{
    font-size: 15vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    z-index: 1;
    text-align: center;
    position: relative;
    margin-top: 25vw;
}
body{
    background-color: darkgray;
}
      h1{
          margin-top: 3vw;
          margin-bottom: -3vw;
      }
#texto{
    position: absolute;
    top: 146vw;
    margin-left: 5vw;
    margin-right: 4vw;
    font-size: 5vw;
}
#texto1{
    position: absolute;
    top: 70vw;
    font-size: 5vw;
}
#segimg1 , #segimg2 , #segimg3 , #segimg4{
    height: 25vw;
    width: 30vw;
    position: absolute;
    margin-bottom: 20px;
}
#segimg1 , #button1 {
    left: 12vw;
    top: 11.5%;
}
#especial2 {
    height: 25vw;
    width: 30vw;
    position: absolute;
    margin-bottom: 20px;
}
#buttonespecial{
    position: absolute;
    width: 31vw;
    height: 25vw;
    opacity: 0;
}
#textoesp{
    position: absolute;
    top: 70vw;
    margin-left: 5vw;
    margin-right: 4vw;
    font-size: 5vw;
}
#especial2 , #buttonespecial{
    right: 12vw;
    top: 11.5%;
}
#segimg2 , #button2{
    right: 12vw;
    top: 11.5%;
}
#segimg3 , #button3{
    left: 12vw;
    top: 55%;
}
#segimg4 , #button4{
    right: 12vw;
    top: 55%;
}
#img1 , #img2 , #img3 , #img4 {
    height: 25vw;
    width: 30vw;
    position: absolute;
    margin-bottom: 20px;
}
#img1 {
    left: 15vw;
    top: 47.5%;
}
#img2{
    right: 15vw;
    top: 47.5%;
}
#img3{
    left: 15vw;
    top: 65%;
}
#img4 {
    right: 15vw;
    top: 65%;
}
#fondo {
    width: 100%;
    height: 65vw;
    top: 0px;
    left: 0;
    position: fixed;
    z-index: -1;
}
#volver{
    position: absolute;
    width: 14vw;
    height: 15vw;
    top: 145vw;
    left: 11vw;
}
#imganswer , #txtanswer{
    display: block;
    margin-left: 10%;
    margin-top: 2%;
}

#answer{
   text-align: left;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 20px;
   color: black;
}
#imgverificar{
    width: 100px;
    height:72px;
}
.option1{
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 24px;
    user-select: none;
    text-align: center;
    margin-bottom: 17px;
}
.checkmark {
    position: absolute;
    top: 6px;
    left: 5px;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 20px;
}
.option1 input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.option1:hover ~ .checkmark{
    background-color: gray;
  }
.option1 :checked ~ .checkmark {
    background-color: #2196F3;
  }
 
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .option1 :after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    background-color: #2196F3
  }
#casilla{
    width: 29vw;
    height: 7vw;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#check{
    width: 29vw;
    height: 7vw;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#textoquiz{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-top: -10px;
}
a{
    text-decoration: none
}
#empezarquiz{
    border: 1px solid red;
    position: absolute;
    font-size: 40px;
    left: 35vw;
    text-decoration: none;
    border-radius: 20px;
    top: 150vw;
}
#empezarquiz :hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
.option1{
    position: relative;
    margin-left: 36%;
    margin-right: 45%;
    bottom: 165px;
    text-align: center;
    border: none; 
    border-radius: 20px;
    background-color: #ccc
}
@media only screen and (max-width:500px) {
    .option1 {
      position: relative;
      bottom: 0px;
      margin-left: 10%;
      margin-right: 10%;
    }
}
#total{
     font-size:5vw;
     font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
     text-align: center;
}
#botones{
    text-align: center;
}
@media only screen and (max-width:500px) {
    #casilla {
      border-width: 2px;
      border-color: red;
      border-style: solid;
    }
}
@media only screen and (max-width:500px) {
    #check {
      border-width: 2px;
      border-color: red;
      border-style: solid;
    }
}
@media only screen and (max-width:500px) {
    #imganswer{
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}
#button1 , #button2 , #button3 , #button4{
    position: absolute;
    width: 31vw;
    height: 25vw;
    opacity: 0;

}